[Unit]
Description=Gruntwork Health Check Agent

[Service]
User=gruntwork
Group=gruntwork
ExecStart=/usr/local/bin/health_check_agent \
         --script /usr/local/bin/health_check_script.sh

[Install]
WantedBy=multi-user.target
